@model IEnumerable<MVCReviewSiteProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
@foreach (var item in Model)
{


    /*Thumbnail*/
    <div class="col-xs-12 sm-6 col-md-4">
        <div class="thumbnail">
            <img id="techPhoto" src="~/Content/Images/techPicture3.jpeg" alt="Tech Photo" />
            <div class="caption">
                <h3 id="thumbnailTitle">@Html.DisplayFor(modelItem => item.Title)</h3>
                <p id="thumbnailContent">@Html.DisplayFor(modelItem => item.Content)</p>
                <div id="actionLink">
                    <a id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.recordNum })</a>
                    @Html.ActionLink("Details", "Details", new { id = item.recordNum })
                    @Html.ActionLink("Delete", "Delete", new { id = item.recordNum })
                </div>

            </div>
        </div>
    </div>




}

</div>